@import './variaveis.scss';

@font-face {
    font-family: $fontRegular;
    src: url('../fonts/BiennaleRegular.otf');
}

@font-face {
    font-family: $fontLight;
    src: url('../fonts/BiennaleLight.otf');
}

@font-face {
    font-family: $fontBold;
    src: url('../fonts/BiennaleBold.otf');
}

* {
    font-family: $fontRegular;
    font-size: 14px;
}

html, body {
    height: 100%;
    margin: 0;
}

#app {
    min-height: 100%;
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

input {
    &::placeholder {
        color: $cinza1;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $cinza2;
    }

    &::-ms-input-placeholder {
        color: $cinza2;
    }
}