@import './variaveis.scss';


.container-publico {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo {
        margin-bottom: 40px;
        width: 40%;
    }

    .erro {
        text-align: center;
        color: $erro;
        font-weight: bold;
        max-width: 300px;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        button {
            width: 100%;
            margin-top: 30px;
            height: 56px;
            background-color: $corPrimaria;
            border-color: $corPrimaria;
            color: white;
            border-radius: 12px;
            font-size: 17px;
            cursor: pointer;
        }

        .link {
            text-align: center;
            margin-top: 24px;

            p {
                color: $cinza3;
                margin: 0px 0px 2px;
            }

            a {
                color: $corPrimaria;
                font-family: $fontBold;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    @media screen and (min-width: $desktopBreakpoint) {
        width: 100%;
        height: 100%;
        padding: 10%;
        background-color: white;
        background-image: none;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .logo {
            min-width: 350px;
            width: 30%;
            margin: 0px;
        }

        .erro {
            max-width: none;
        }

        p {
            max-width: none;
        }

        form {
            width: 40%;
            border-style: solid;
            border-color: $corPrimaria;
            border-width: 0.1em;
            border-radius: 32px;
            padding: 80px 40px;
            margin-left: 10%;

            button {
                height: 64px;
            }
        }
    }
}